<a href="https://colab.research.google.com/github/fortune-max/M4-python-refresher-ml/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

BASIC PYTHON https://create.kahoot.it/details/fcd038f4-6b05-485b-afe3-ce67e05b1695

## Basics

In [2]:
from google.colab import drive

drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
!ls

gdrive	sample_data

!ls gdrive/MyDrive/DS404/DS404_Classwork/

In [3]:
!ls gdrive/MyDrive/DS404/DS404_Classwork/Day_1_materials/

alice_00.txt  alice_02.txt  alice_04.txt  alice_06.txt	alice_08.txt  titanic.csv
alice_01.txt  alice_03.txt  alice_05.txt  alice_07.txt	imports.py

In [5]:
!ls gdrive/MyDrive/DS404/DS404_Classwork -la

lrw------- 1 root root 0 Nov 27 08:47 gdrive/MyDrive/DS404/DS404_Classwork -> /content/gdrive/.shortcut-targets-by-id/13pwU9AX5-JsuJ66iqlVhTOvcSDg5IrXW/DS404_Classwork

#### Exercise 1.1: execute simple cell in jupyter

#### Exercise 1.2: Play around with variables (int, str, dict, list)

## Hotkey practice

#### Exercise 2.1: Spit cell

In [ ]:
param_set = {'iterations':10,
            'subiterations':100}

# split here ---- CtrL+M+'-'

In [ ]:


for i in range(param_set['iterations']):
    for j in range(param_set['subiterations']):
        pass

        #Join cells:  Ctrl+Shift+M

#### Exercise 2.2: Sort rows manually with C and V commands
#### Exercise 2.3: Merge resulting rows in one

00 w

03 l


04  



01 e


02 l


05 d

07 n


08 e


06 o

#### Exercise 2.4: delete empty rows

In [ ]:
import numpy as np

In [ ]:
import matplotlib.pyplot as plt

## Readign text data with jupyter magic commands

#### Exercise 3.1:
- Read files with Alice quotes to array.
- Make a dict: key = filename, value = content of the file

Hint: how to see file content through terminal?

In [6]:
%cd gdrive/MyDrive/DS404/DS404_Classwork/Day_1_materials

/content/gdrive/.shortcut-targets-by-id/17mbG6fv4b3eTpretBs93iQprdututNGa/Day_1_materials

In [7]:
# !cp gdrive/MyDrive/DS404/DS404_Classwork/Day_1_materials/* .
!ls

alice_00.txt  alice_02.txt  alice_04.txt  alice_06.txt	alice_08.txt  titanic.csv
alice_01.txt  alice_03.txt  alice_05.txt  alice_07.txt	imports.py

In [8]:
!ls alice* -l

-r-------- 1 root root  92 Nov 19 09:43 alice_00.txt
-r-------- 1 root root 123 Nov 19 09:44 alice_01.txt
-r-------- 1 root root 247 Nov 19 09:43 alice_02.txt
-r-------- 1 root root 202 Nov 19 09:44 alice_03.txt
-r-------- 1 root root 155 Nov 19 09:44 alice_04.txt
-r-------- 1 root root 135 Nov 19 09:44 alice_05.txt
-r-------- 1 root root 281 Nov 19 09:44 alice_06.txt
-r-------- 1 root root 483 Nov 19 09:44 alice_07.txt
-r-------- 1 root root 405 Nov 19 09:44 alice_08.txt

In [9]:
!cat alice_00.txt

“And what is the use of a book,” thought Alice, “without pictures or conversations?”

#### Exercise 3.2: Modify the code so only non single line citations will be prenet

In [13]:
a = !ls -1 alice*
print(a)

['alice_00.txt', 'alice_01.txt', 'alice_02.txt', 'alice_03.txt', 'alice_04.txt', 'alice_05.txt', 'alice_06.txt', 'alice_07.txt', 'alice_08.txt']

In [17]:
file_list = !ls -1 alice*

for file_name in file_list:
  file_content = !cat $file_name
  if len(file_content) != 1:
    print(file_name, len(file_content))

alice_06.txt 2
alice_07.txt 4
alice_08.txt 6

#### Exercise 3.3. Use grep console function select only lines with Alice string present (str funtions)
[str methods](https://docs.python.org/3/library/string.html)

In [30]:
!grep "Alice" alice*.txt

alice_00.txt:“And what is the use of a book,” thought Alice, “without pictures or conversations?”
alice_02.txt:“Oh, how I wish I could shut up like a telescope! I think I could, if only I knew how to begin.” For, you see, so many out-of-the-way things had happened lately, that Alice had begun to think that very few things indeed were really impossible.
alice_03.txt:It was all very well to say “Drink me,” but the wise little Alice was not going to do that in a hurry. “No, I’ll look first,” she said, “and see whether it’s marked ‘poison’ or not.”
alice_04.txt:“But it’s no use now,” thought poor Alice, “to pretend to be two people! Why, there’s hardly enough of me left to make one respectable person!”
alice_05.txt:“Curiouser and curiouser!” cried Alice (she was so much surprised, that for the moment she quite forgot how to speak good English).
alice_06.txt:“Not at all,” said Alice: “she’s so extremely—” Just then she noticed that the Queen was close behind her, listening: so she went on “—likely to win, that it’s hardly worth while finishing the game.”
alice_07.txt:This was not an encouraging opening for a conversation. Alice replied, rather shyly, “I—I hardly know, Sir, just at present—at least I know who I was when I got up this morning, but I think I must have been changed several times since then.”
alice_07.txt:“I ca’n’t explain myself, I’m afraid, Sir,” said Alice, “because I am not myself, you see.”
alice_08.txt:“I don’t much care where—” said Alice.
alice_08.txt:“—so long as I get somewhere,” Alice added as an explanation.

In [41]:
files = !ls alice*
print(files)
print(files[0])

['alice_00.txt  alice_02.txt  alice_04.txt  alice_06.txt\talice_08.txt', 'alice_01.txt  alice_03.txt  alice_05.txt  alice_07.txt']
alice_00.txt  alice_02.txt  alice_04.txt  alice_06.txt	alice_08.txt

## Reading dataset with pandas

#### Exercise 4.1 import pandas

In [42]:
import pandas as pd

#### Exercise 4.2 read dataset with pandas

In [43]:
titanic_data_frame = pd.read_csv("titanic.csv")
titanic_data_frame

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

#### Exercise 4.3 get overall infromation from dataset via pandas

In [44]:
titanic_data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [50]:
# variance = titanic_data_frame.var()
description = titanic_data_frame.describe(include='all')
# desc_with_var = description.append(pd.Series(variance, name='variance'))
# print(desc_with_var)
print(description)

        PassengerId    Survived      Pclass                     Name   Sex  \
count    891.000000  891.000000  891.000000                      891   891
unique          NaN         NaN         NaN                      891     2
top             NaN         NaN         NaN  Braund, Mr. Owen Harris  male
freq            NaN         NaN         NaN                        1   577
mean     446.000000    0.383838    2.308642                      NaN   NaN
std      257.353842    0.486592    0.836071                      NaN   NaN
min        1.000000    0.000000    1.000000                      NaN   NaN
25%      223.500000    0.000000    2.000000                      NaN   NaN
50%      446.000000    0.000000    3.000000                      NaN   NaN
75%      668.500000    1.000000    3.000000                      NaN   NaN
max      891.000000    1.000000    3.000000                      NaN   NaN

               Age       SibSp       Parch  Ticket        Fare    Cabin  \
count   714.000000  891.000000  891.000000     891  891.000000      204
unique         NaN         NaN         NaN     681         NaN      147
top            NaN         NaN         NaN  347082         NaN  B96 B98
freq           NaN         NaN         NaN       7         NaN        4
mean     29.699118    0.523008    0.381594     NaN   32.204208      NaN
std      14.526497    1.102743    0.806057     NaN   49.693429      NaN
min       0.420000    0.000000    0.000000     NaN    0.000000      NaN
25%      20.125000    0.000000    0.000000     NaN    7.910400      NaN
50%      28.000000    0.000000    0.000000     NaN   14.454200      NaN
75%      38.000000    1.000000    0.000000     NaN   31.000000      NaN
max      80.000000    8.000000    6.000000     NaN  512.329200      NaN

       Embarked
count       889
unique        3
top           S
freq        644
mean        NaN
std         NaN
min         NaN
25%         NaN
50%         NaN
75%         NaN
max         NaN

## Jupyter magic commands

#### Execrcise 4.1: Measure time requered for the following operaton

In [ ]:
import os

In [ ]:
dir_array = []
dir_list = os.listdir("../")
for filename in dir_list:
    if os.path.isdir( os.path.join("..", filename) ):
        dir_array.append(filename)

#### Execrcise 4.2: Measure average time requered for the following operaton

In [ ]:
dir_array = []
dir_list = os.listdir("../")
for filename in dir_list:
    if os.path.isdir( os.path.join("..", filename) ):
        dir_array.append(filename)

#### Exercise 5.3: Extract array of system pathes from environment variable PATH

#### Exercise 5.4: Put your canvas login to environment variable MY_CANVAS_ID

### Jupyter magic commands -- multi notebook

#### Exercise 6.1: Create new empty notebook and write down a link to it

My new notebook location is:

https://colab.research.google.com/drive/1MsFDTUF_QwP-0cbmrsp43RCb5ZfVquEw

#### Exercise 6.2: Store current_timestamp_checkpoint

In [ ]:
from datetime import datetime

current_timestamp_checkpoint = datetime.now()

print(current_timestamp_checkpoint)

2023-11-26 22:10:29.202626

#### Exercise 6.3: Get all saved variables in new notebook with store -r

#### Exercise 6.4: Store new timestamp at new notebook, print it and restore it here

#### Exercise 6.4.1: Figure out why it differs from content you saved sometimes

#### Exercise 6.5: Create file imports.py with %writefile

#### Exercise 6.5: Apend a line to file imports.py

#### Exercise 6.6: Load saved file imports.py to notebook cell

#### Exercise 6.7: Run saved file imports.py without loading it

## HTML and JavaScript

#### Exercise 7.1: Modify following HTML execution by adding html table

In [ ]:
%%HTML
<b> Hello world!</b>
<br>
<a href='http://www.yandex.ru' target="_tab"> <font color='red'>Y</font><font color='black'>andex.ru</font></a>

#### Exercise 7.2: Add several iframes to the following HTML code

In [ ]:
%%HTML

<iframe width="560" height="315" src="https://www.youtube.com/embed/zLRifWZihag" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

#### Exercise 7.3: Execute simple JavaScript code

In [51]:
%%javascript
alert("Hello world!")

## Markdowns

#### Exercise 8.1: Add image through markdown syntax

#### Exercise 8.2: Add table 2x3 through markdown syntax

#### Exercise 8.3: Modify TeX formula

## Additional hotkey practice

#### Exercise 9.1 read pandas documentation with shift and copypaste it to following cell

In [ ]:
pd.read_csv('titanic.csv')

#### Exercise 9.2 switch one line numeration with L

i am line 1
i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2
i am line 3

In [ ]:
i am line 1
i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2 i am line 2
i am line 3

#### Exercise 9.3 start infinite loop and interrupt it with hotkey Ctrl+M+I

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

KeyboardInterrupt: ignored

#### Exercise 9.4 perform the following cell to mess up import structure and restart kernell with Ctrl+M+.

## Debugging

#### Exercise 10.1 switch debug mode on

Automatic pdb calling has been turned ON

#### Exercise 10.2 debug the following code and write listing to the following cell

In [ ]:
cumulative_array = []

def process_i(i):
    j = i*i
    assert i<50
    return j

for i in range(100):
    cumulative_array.append(process_i(i))

AssertionError: ignored

## Other solutions beside colaboratory

### Plain Jupyter

### Jupyterlab
https://jupyter.org/try

### Jupyterhub
https://jupyter.org/hub

### Kaggle notebooks
https://www.kaggle.com/code

### Huggingface notebooks
https://huggingface.co/course

### PyCharm Jupyter

## Additional materials
https://docs.google.com/presentation/d/1qEfmd2eVfwYETlCeWo1I8twzqEMFcJaApwEBWP35vdo/edit#slide=id.p

## Homework:
1. Connect to Colab
2. Do the [quiz](https://www.w3schools.com/quiztest/quiztest.asp?qtest=PYTHON), to ckeck up your skills. If there're any hard questions, prepare them for discussion
3. Do the rest of the classwork
4. Check [Kaggle](https://www.kaggle.com/) page and create notebook there
5. Remind yourself of decorators and generators