<a href="https://colab.research.google.com/github/fortune-max/M4-python-refresher-ml/blob/main/Fortune_BigHomeWork1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic operations

## Mount

#### Exercise 1.0:  Mount to gdrive and copy FOLDER data to the current directory

In [2]:
# write your code here
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)
!cp /content/gdrive/MyDrive/DS404/DS404_Classwork/BHW/* .

Mounted at /content/gdrive

#### Exercise 1.1:  Display a list of all hidden files in the current directory

In [20]:
# write your code here
!ls -d .*
# explain the result
'''
This prints all files in the current directory which match the regex pattern supplied to the ls command.
In this case this is all files starting with a dot.
The -d argument means that if the entry is a directory, its contents should not be ouptut.
The results are:
. (current directory)
.. (previous directory)
.config (a hidden file)
'''

.  ..  .config

## Alice dataset

#### Exercise 2.1: Read files with Alice quotes to dict: key = filename, value = text

In [ ]:
# write your code here

#### Exercise 2.2: Modify the code so only non single line citations will be prenet

In [ ]:
# write your code here

#### Exercise 2.3. Use grep console function select only lines with Alice string present

In [ ]:
# write your code here

## Working with datasets

### Titanic

#### Exercise 3.1 import pandas

In [ ]:
# write your code here

#### Exercise 3.2 read dataset with pandas

In [ ]:
# write your code here

#### Exercise 3.3 get overall infromation from dataset via pandas

In [ ]:
# write your code here (at least 2 methods)

# what are the difference?

#### Exercise 3.4: Extract last digit from PassengerId and put it to PassengerIdChunk variable

In [ ]:
# write your code here

#### Exercise 3.5: Extract last digit from index and put it to IndexChunk variable

In [ ]:
# write your code here

#### Exercise 3.6: For all passengers with IndexChunk == 6 add string with Age to passsenger name

In [ ]:
# write your code here

#### Exercise 3.7:  Agregate passengers on PassegnerIdChunk, compute string join of all ticket names for given chunk

In [ ]:
# write your code here

### University data

#### Exercise 3.8: Download and load university.data dataset
- link: https://archive.ics.uci.edu/ml/machine-learning-databases/university/university.data

In [ ]:
# write your code here

#### Exercise 3.9: Extract parent objects from the dataset

In [ ]:
# write your code here

#### Exercise 3.10: Extract lisp data from it

it should look like this:
![image.png]()

In [ ]:
# write your code here

#### Exercise 3.11: Extract subdatasets for the universities

In [ ]:
# write your code here

#### Exercise 3.12*: Merge dataset for all universities

In [ ]:
cumulative_bringed = pd.DataFrame(columns = uni_data_df['lisp_A'].unique())
# write your code here

## Pokemon

#### Read pokemon_m dataset

#### Exercise 3.13: Visualize pairwise distributions for all pairs of numeric parameters

In [ ]:
# write your code here

#### Exercise 3.14: Output results of visualization to .png

In [ ]:
# write your code here

#### Exercise 3.15: For all pairs of features compute histograms, distributions and pairwise scatter, output it to set of files with names of pairs of column names

#### Excercise 3.16: Draw  two subplots for Attack and Sp_Def in matplotlib and sns

In [ ]:
# write your code here

#### Excercise 3.17*: Draw two subplots with customized size of plots, shared "y" axes and grid for Attack and Sp_Def in matplotlib and sns. Write down all names: axes, title, legend. For every Type_2 use a unique color.

In [ ]:
# write your code here

## Iris

#### Exercise 3.18: Import iris datasets from sklearn

In [ ]:
# write your code here

#### Exersice 3.19:
- get data and target
- check types
- concatenate iris data and target
- print target names and description of the dataset

In [ ]:
# write your code here

#### Exersice 3.20: Create a DataFrame and name colums how they are named in the dataset

In [ ]:
# write your code here

#### Exersice 3.21:  Do classification using linear regression
- split data to train/test
- create Pipeline
- do prediction
- compare with answers

In [ ]:
# write your code here

#### Exersice 3.22*:  Do classification using KNN
- split data to train/test
- create Pipeline
- do prediction (find what you can classify in the dataset)
- use [metrics](https://scikit-learn.org/stable/modules/model_evaluation.html) to check your result
- try to make a better prediction

In [ ]:
# write your code here

## Jupyter magic commands

#### Execrcise 4.1: Measure time requered for the following operaton

In [ ]:
# write your code here

dir_array = []
dir_list = os.listdir("../")
for filename in dir_list:
    if os.path.isdir( os.path.join("..", filename) ):
        dir_array.append(filename)

#### Execrcise 4.2: Measure average time requered for the following operaton

In [ ]:
# write your code here

dir_array = []
dir_list = os.listdir("../")
for filename in dir_list:
    if os.path.isdir( os.path.join("..", filename) ):
        dir_array.append(filename)

#### Exercise 4.3: Extract array of system pathes from environment variable PATH

In [ ]:
# write your code here
# PATH_string =

PATH_string.split(":")

#### Exercise 4.4: Put your canvas login to environment variable MY_CANVAS_ID

In [ ]:
# write your code here

#### Exercise 4.5: Create file imports.py with writefile

In [ ]:
# write your code here

#### Exercise 4.6: Apend a line to file imports.py

In [ ]:
# write your code here

#### Exercise 4.7: Load saved file imports.py to notebook cell

In [ ]:
# write your code here

#### Exercise 4.8: Run saved file imports.py without loading it

In [ ]:
# write your code here

#### Exercise 4.9*: What is the difference between load and run magic command?

In [ ]:
# write your explanation here

## HTML and JavaScript

#### Exercise 5.1: Modify following HTML execution by adding html table

In [ ]:
%%HTML
<b> Hello world!</b>
<br>
<a href='http://www.yandex.ru' target="_tab"> <font color='red'>Y</font><font color='black'>andex.ru</font></a>
# write your code here

#### Exercise 5.2: Add several iframes to the following HTML code

In [ ]:
%%HTML

<iframe width="560" height="315" src="https://www.youtube.com/embed/zLRifWZihag" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
# write your code here

## Markdowns

#### Exercise 6.1: Add image through markdown syntax

#### Exercise 6.2: Add table 2x3 through markdown syntax

#### Exercise 6.3: Write a mean() formula usying TeX

## Debugging

#### Exercise 7.1 switch debug mode on

In [ ]:
# write your code here


d -- go down 1 level

u -- go up 1 level

l 17,23 -- list lines 17,23 of current file

#### Exercise 7.2 debug the following code and write listing to the following cell

In [ ]:
cumulative_array = []

def process_i(i):
    j = i*i
    assert i<50
    return j

for i in range(100):
    cumulative_array.append(process_i(i))

In [ ]:
#write output here

## Working with images

#### Exercise 8.1: Open an apple.png picture and show it

In [ ]:
# write your code here

#### Exercise 8.2* Draw the segmentation map for apple

In [ ]:
# write your code here

#### Exercise 8.3*: Create a simple detector of apple image seminar using numpy, that outputs most probable coordinates of apple on the image. Try using only native to numpy methods.

In [ ]:
# write your code here

## Numpy operations

####  Exercise 9.1: Create a 3D array of shape (4, 5, 6) with random integers. Extract all elements at odd indices along each axis and reshape the resulting array into a 1D array.


#### Exercise 9.2. Write a NumPy program to create a 5x5 array with random values and replace the maximum value with 0.

#### Exercise 9.3: Create a 3x3 matrix with values 1, 2, 3 on the diagonal and zeros elsewhere.

#### Exercise 9.4*: Create a 2D array matrix1 of shape (3, 4) and a 1D array array2 of shape (5,). Concatenate them along axis 0 to form a new 2D array. Be mindful of the axis and shape compatibility.